<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
	</head>
	<body>
	   <th:block th:replace="~{/layout/fragments :: pageHeader('부서 목록')}"></th:block>
       
       <main>
        <table>
            <thead>
                <tr>
                    <th>부서번호</th>
                    <th>부서이름</th>
                    <th>매니저</th>
                    <th>지역</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dept : ${departments}" th:object="${dept}">
                    <td>
                        <a th:href="@{/department/details/{id}(id=*{id})}"
                             th:text="*{id}"></a>
                    </td>
                    <td>
                        <a th:href="@{/department/details/{id}(id=*{id})}"
                             th:text="*{departmentName}"></a>
                    </td>
                    <td>
                        <th:block th:if="*{manager != null}">
                            <a th:href="@{'/department/details/'}" th:text="|*{manager.firstName} *{manager.lastName}|"></a>
                        </th:block>
                    </td>
                    <td th:text="*{location.id}"></td>
                </tr>
            </tbody>
        </table>
       </main>
       <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
	</body>
</html>