<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Spring Boot 3</title>
	</head>
	<body>
	   <div th:replace="~{/layout/fragments :: pageHeader('나라 목록 페이지')}"></div>
       
       <main>
        <table>
            <tbody th:object="${countries}">
                <tr>
                    <th>나라번호</th>
                    <td th:text="*{id}"></td>
                </tr>
                <tr>
                    <th>나라이름</th>
                    <td th:text="*{countryName}"></td>
                </tr>
                <tr>
                    <th>나라번호</th>
                    <td th:text="*{region.regionName}"></td>
                </tr>
            </tbody>
        </table>
       </main>
	</body>
</html>